.tooltip-satellite {
  position: fixed;
  top: 100px;
  transform: translate(12px, 12px);
  width: 150px;
  min-width: max-content;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  font-size: 11px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
